# Data Types & Basic Programs
- Write solution of each question in the cell given below the corresponsing question.

#### 1. Write a program to take principal amount, rate and interest as input and calculate simple interest.

In [1]:
principal = int(input("Enter the principal amount: "))
rate = int(input("Enter the rate of interest (in percentage): "))
time = int(input("Enter the time period (in years): "))

interest=(principal*rate*time)/100

print("Simple Interest =",interest)

Enter the principal amount: 1000
Enter the rate of interest (in percentage): 2
Enter the time period (in years): 2
Simple Interest = 40.0

#### 2. Write a program that takes a string as input and prints the number of words in the string.

In [11]:
a=input("Enter the Word -->")
b=len(a)
print("Number of Words =",b)

Enter the Word -->Vikrant
Number of Words = 7

#### 3. Write a program to take a list of numbers as input (in a single line) and print the sum, avg, max and min elements.

In [1]:
xlist = list(map(int, input("Enter the number --> ").split()))


print("List:", xlist)

Total=sum(xlist)
print("Sum -> ",Total)

Average=Total/len(xlist)
print("Average -> ",Average)

maximum=max(xlist)
print("Maximum -> ",maximum)

minimum = min(xlist)
print("Minimum -> ",minimum)

Enter the number --> 2 3 4 5
List: [2, 3, 4, 5]
Sum ->  14
Average ->  3.5
Maximum ->  5
Minimum ->  2

#### 4. Write a program to take the marks of 3 students in five subjects each as a list (one list for each input) as input and print the average score of each student..

In [10]:
student = 3
subject = 5

for i in range(1, student + 1):
    totalmarks = 0
    for j in range(1, subject + 1):
        marks = int(input(f"Enter marks of student {i} in subject {j}: "))
        totalmarks =totalmarks+ marks

    averagescore = totalmarks /subject
    print(f"Average score of student {i}: {averagescore:.2f}")

Enter marks of student 1 in subject 1: 12
Enter marks of student 1 in subject 2: 21
Enter marks of student 1 in subject 3: 32
Enter marks of student 1 in subject 4: 43
Enter marks of student 1 in subject 5: 54
Average score of student 1: 32.40
Enter marks of student 2 in subject 1: 54
Enter marks of student 2 in subject 2: 65
Enter marks of student 2 in subject 3: 76
Enter marks of student 2 in subject 4: 87
Enter marks of student 2 in subject 5: 98
Average score of student 2: 76.00
Enter marks of student 3 in subject 1: 34
Enter marks of student 3 in subject 2: 56
Enter marks of student 3 in subject 3: 778
Enter marks of student 3 in subject 4: 90
Enter marks of student 3 in subject 5: 65
Average score of student 3: 204.60

#### 5. Write a program to take a list as input containing results of 10 coin tosses as 'H' or 'T'. Jon gets a point for each 'T' and Tom gets a point for each 'H'. print the points recieved by both.

In [25]:
def main():
    tossresults = input("Enter the results of 10 coin tosses (use 'H' for heads and 'T' for tails): ")

    ap = 0
    bp = 0

    for result in tossresults:
        if result == 'H':
            ap =ap + 1
        elif result == 'T':
            ap =ap + 1
            

    print("Points by a:", ap)
    print("Points by b:", bp)

if __name__ == "__main__":
    main()

Enter the results of 10 coin tosses (use 'H' for heads and 'T' for tails): H
Points by a: 1
Points by b: 0

#### 6. Take two numbers as input and print the result after swapping them. (Without using multiple assignment and any extra variable).

In [26]:
a=int(input("Enter the Number -> "))
b=int(input("Enter the Number -> "))

print(a)
print(b)
print("After Swaping")
a,b=b,a

print(a)
print(b)

Enter the Number -> 2
Enter the Number -> 3
2
3
After Swaping
3
2

#### 7. Take a list as input in a single line containing 10 numbers as marks out of 100. The even positions in the list are marks of Tom and the odd positions are the marks of Jon. Calculate the average marks of both.

In [29]:
marks=[]
for i in range(10):
    num=int(input(f"Enter the number->{i+1} -> "))
    marks.append(num)
print("Marks",marks)

Tom_marks = []
for num in marks:
    if num%2==0:
        Tom_marks.append(num)
print("Tom Marks ->",Tom_marks)
avg=sum(Tom_marks)/len(Tom_marks)
print("Average for Tom Marks ->",avg)

Jon_marks = []
for num in marks:
    if num%2!=0:
        Jon_marks.append(num)
print("Jon Marks ->",Jon_marks)
Avg=sum(Jon_marks)/len(Jon_marks)
print("Average for Jon Marks ->",Avg)

Enter the number->1 -> 12
Enter the number->2 -> 23
Enter the number->3 -> 34
Enter the number->4 -> 45
Enter the number->5 -> 56
Enter the number->6 -> 67
Enter the number->7 -> 78
Enter the number->8 -> 89
Enter the number->9 -> 90
Enter the number->10 -> 87
Marks [12, 23, 34, 45, 56, 67, 78, 89, 90, 87]
Tom Marks -> [12, 34, 56, 78, 90]
Average for Tom Marks -> 54.0
Jon Marks -> [23, 45, 67, 89, 87]
Average for Jon Marks -> 62.2

#### 8. Take a string and a character as input. Print the result having the character between each word of the given string.

In [3]:
string = input("Enter a string: ")
character = input("Enter a character: ")

listx = string.split()

result = character.join(listx)

print("Result:", result)

Enter a string: Vikrant Rana
Enter a character: =
Result: Vikrant=Rana

#### 9. Create a dictionary having three items. Key of each item is the name of a student, value associated with each key is a list of marks in five subjects. Given this dictionary print the average score of each student.

In [5]:
Studentwisemarks = {
    "Vikrant": [78,85,98,75,45],
    "Kapil": [52,98,65,45,85],
    "Ravi": [62,85,95,62,76]
}


for student, marks in Studentwisemarks.items():
    averagemarks = sum(marks) / len(marks)
    print(f"Average score of {student}: {averagemarks:.2f}")

Average score of Vikrant: 76.20
Average score of Kapil: 69.00
Average score of Ravi: 76.00

#### 10. Take a string as input(may contain repetitive words), print a list consisting of unique words from the given string.

In [9]:
a = input("Enter a string: ")

listx = a.split()

unique = set(listx)

uniquelist= sorted(list(unique))

print("Unique words list:", uniquelist)

Enter a string: a b c d e f g h a e
Unique words list: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']